
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

#map-container {
  height: 100%;
}

.city{
  display: inline-block;
}

.city h3{
  text-align: center;
}

/* .graphic{
  margin-top: 100px;
  margin-left: 100px;
} */